<nav class="nav justify-content-center">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/add_record">Add a record</a>  
  <a class="nav-link" href="/update">Check updates</a>    
</nav>